<script lang="ts" setup>
import { useFoodStore } from "@/stores/food";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const foodStore = useFoodStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await foodStore.saveFood();
  }
}
</script>
<template>
  <v-dialog v-model="foodStore.dialog" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >อาหาร
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่ออาหาร*"
                  required
                  v-model="foodStore.editedFood.name"
                  :rules="[
                    (v) => !!v || 'โปรดระบุชื่ออาหาร',
                    (v) => v.length >= 3 || 'ความยาวไม่น้อยกว่า 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ราคา*"
                  required
                  v-model.number="foodStore.editedFood.price"
                  :rules="[(v) => !!v || 'โปรดระบุราคาอาหาร']"
                ></v-text-field>
              </v-col>
              <v-col cols="12"
                ><v-file-input
                  v-model="foodStore.editedFood.files"
                  accept="image/*"
                  label="ใส่รูปจากไฟล์"
                >
                </v-file-input
              ></v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
          variant="text"
          @click="foodStore.dialog = false"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
          variant="text"
          @click="save"
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
