<script lang="ts" setup>
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useFoodStore } from "@/stores/food";
import { onMounted, ref, computed } from "vue";
import FoodDialog from "./FoodDialog.vue";

const foodStore = useFoodStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
const confirmDialog = ref();

onMounted(async () => {
  await foodStore.getFoods();
});

const deleteFood = async (id: number) => {
  try {
    await confirmDialog.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ${id} หรือไม่ ?`
    );
    await foodStore.deleteFood(id);
  } catch (e) {
    /* empty */
  }
};

let search = ref("");

let filterItem = computed(function () {
  return foodStore.foods.filter((item) => {
    if (!search.value) return item;
    return item.name.toLowerCase().includes(search.value.toLowerCase());
  });
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          @click="foodStore.dialog = true"
          style="background-color: #6d6e6f; color: aliceblue"
          >เพิ่มข้อมูลอาหาร</v-btn
        >
      </v-col>
      <v-col></v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาอาหาร"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัสอาหาร</th>
              <th style="text-align: center">รูปอาหาร</th>
              <th style="text-align: center">ชื่ออาหาร</th>
              <th style="text-align: center">ราคาอาหาร</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of filterItem" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td>
                <v-img :src="`${backendURL}/foods/image/${item.image}`"></v-img>
              </td>
              <td style="text-align: center">{{ item.name }}</td>
              <td style="text-align: center">{{ item.price }}</td>
              <td>
                <v-btn class="mr-5 btnEdit" @click="foodStore.editFood(item)"
                  ><v-icon class="ma-2">mdi-pencil-box-multiple-outline</v-icon
                  >แก้ไข</v-btn
                ><v-btn class="btnDel" @click="deleteFood(item.id!)"
                  ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>ลบ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
        <ConfirmDialog ref="confirmDialog"></ConfirmDialog>
      </v-col>
    </v-row>
    <FoodDialog></FoodDialog>
  </v-container>
</template>
<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
