<script setup lang="ts">
import TableCard from "./TableCard.vue";
import { ref } from "vue";
import TableDialog from "./TableDialog.vue";
import { useTableStore } from "@/stores/table";
import TableOption from "./TableOption.vue";
import TableCRUD from "./TableCRUD.vue";
import TableChangeVue from "./TableChange.vue";

const tablezone = useTableStore();
const changeColor = ref(true);
</script>

<template>
  <v-container>
    <v-row>
      <TableCard></TableCard>
      <TableDialog></TableDialog>
      <TableOption></TableOption>
      <TableCRUD></TableCRUD>
      <TableChangeVue></TableChangeVue>
    </v-row>
  </v-container>
</template>

<style></style>
