<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { useTableStore } from "@/stores/table";
import type Table from "@/Table";
import { onMounted } from "vue";

const tableStore = useTableStore();
const orderStore = useOrderStore();

const clear = () => {
  tableStore.dialogChange = false;
};

const chooseTable = (table: Table) => {
  tableStore.selectTable(table);
};

const confirmTable = (table1: Table, table2: Table) => {
  tableStore.confirmTable();
  orderStore.changeOrderTableId(table1, table2);
};

onMounted(async () => {
  await tableStore.getTablesStatus("ว่าง");
});
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-dialog v-model="tableStore.dialogChange" persistent width="auto">
        <v-card class="mx-auto" width="1064px">
          <v-container style="background-color: #d93d44"
            ><v-row>
              <v-col
                style="font-size: 35px; text-align: center; color: aliceblue"
                >เปลี่ยนโต๊ะ
              </v-col></v-row
            ></v-container
          >
          <!-- ที่เปลี่ยน -->
          <v-container>
            <v-row>
              <v-col cols="4">
                <v-container>
                  <v-card
                    v-bind:style="{
                      backgroundColor:
                        tableStore.editedTable.status === 'ว่าง'
                          ? '#4CAF50'
                          : tableStore.editedTable.status === 'ไม่ว่าง'
                          ? '#f76363'
                          : tableStore.editedTable.status === 'รอทำความสะอาด'
                          ? '#FB9300'
                          : '#fffff',
                    }"
                  >
                    <v-container fluid>
                      <v-card>
                        <v-card-item>
                          <div>
                            <h2 style="text-align: center" class="ma-2">
                              {{ tableStore.editedTable.table }}
                            </h2>
                          </div>
                          <div style="text-align: center">
                            <v-img height="50px">
                              <v-icon
                                icon="mdi-table-chair"
                                style="height: 50px; width: 50px"
                              ></v-icon>
                            </v-img>
                          </div>
                          <div style="text-align: center">
                            <div class="text-p mb-1">
                              จำนวนที่นั่ง: {{ tableStore.editedTable.seat }}
                            </div>
                          </div>
                          <div style="text-align: center">
                            <div class="text-p mb-1">
                              สถานะ: {{ tableStore.editedTable.status }}
                            </div>
                          </div>
                        </v-card-item>
                      </v-card>
                    </v-container>
                  </v-card>
                </v-container>
              </v-col>

              <!-- เปลี่ยน -->
              <v-col cols="4">
                <div style="padding-top: 50px; text-align: center">
                  <h1>>>></h1>
                </div>
              </v-col>

              <!-- การ์ดเปลี่ยน -->
              <v-col cols="4">
                <v-container>
                  <v-card
                    v-bind:style="{
                      backgroundColor:
                        tableStore.changeTable.status === 'ว่าง'
                          ? '#4CAF50'
                          : tableStore.changeTable.status === 'ไม่ว่าง'
                          ? '#f76363'
                          : tableStore.changeTable.status === 'รอทำความสะอาด'
                          ? '#FB9300'
                          : '#ebeced',
                    }"
                  >
                    <v-container fluid>
                      <v-card>
                        <v-card-item>
                          <div>
                            <h2 style="text-align: center" class="ma-2">
                              {{ tableStore.changeTable.table }}
                            </h2>
                          </div>
                          <div style="text-align: center">
                            <v-img height="50px">
                              <v-icon
                                icon="mdi-table-chair"
                                style="height: 50px; width: 50px"
                              ></v-icon>
                            </v-img>
                          </div>
                          <div style="text-align: center">
                            <div class="text-p mb-1">
                              จำนวนที่นั่ง: {{ tableStore.changeTable.seat }}
                            </div>
                          </div>
                          <div style="text-align: center">
                            <div class="text-p mb-1">
                              สถานะ: {{ tableStore.changeTable.status }}
                            </div>
                          </div>
                        </v-card-item>
                      </v-card>
                    </v-container>
                  </v-card>
                </v-container>
              </v-col>
            </v-row>
          </v-container>

          <!-- ลิสโต๊ะว่าง -->
          <v-container style="background-color: aliceblue">
            <v-row>
              <v-col class="col">
                <v-container>
                  <v-row>
                    <v-col
                      cols="3"
                      v-for="item of tableStore.tablesStatus"
                      :key="item.id"
                    >
                      <v-card
                        v-bind:style="{
                          backgroundColor:
                            item.status === 'ว่าง'
                              ? '#4CAF50'
                              : item.status === 'ไม่ว่าง'
                              ? '#f76363'
                              : item.status === 'รอทำความสะอาด'
                              ? '#FB9300'
                              : '#fffff',
                        }"
                        @click="chooseTable(item)"
                      >
                        <v-container>
                          <v-card>
                            <v-card-item>
                              <div>
                                <h2 style="text-align: center" class="ma-2">
                                  {{ item.table }}
                                </h2>
                              </div>
                              <div style="text-align: center">
                                <v-img height="50px">
                                  <v-icon
                                    icon="mdi-table-chair"
                                    style="height: 50px; width: 50px"
                                  ></v-icon>
                                </v-img>
                              </div>
                              <div style="text-align: center">
                                <div class="text-p mb-1">
                                  จำนวนที่นั่ง: {{ item.seat }}
                                </div>
                              </div>
                              <div style="text-align: center">
                                <div class="text-p mb-1">
                                  สถานะ: {{ item.status }}
                                </div>
                              </div>
                            </v-card-item>
                          </v-card>
                        </v-container>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-container>

          <div style="text-align: center">
            <v-card-item>
              <v-table>
                <tr>
                  <td>
                    <v-btn variant="outlined" width="100" @click="clear">
                      ปิด
                    </v-btn>
                  </td>
                  <td>
                    <v-btn
                      variant="outlined"
                      width="100"
                      @click="
                        confirmTable(
                          tableStore.editedTable,
                          tableStore.changeTable
                        )
                      "
                      >ยืนยัน</v-btn
                    >
                  </td>
                </tr>
              </v-table>
            </v-card-item>
          </div>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<style scoped>
.col {
  height: 350px;
  overflow-y: auto;
}
</style>
