<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { useTableStore } from "@/stores/table";
import type Table from "@/Table";

const tableStore = useTableStore();
const orderStore = useOrderStore();

const clear = () => {
  tableStore.dialog = false;
};

const openMenu = (table: Table) => {
  tableStore.openShowMenu(table);
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialog" persistent width="500">
      <v-card>
        <v-card-title
          class="text-h4 text-center font-weight-bold"
          style="background-color: #d93d44; color: aliceblue"
          >Qr Code</v-card-title
        >
        <h1 style="text-align: center">
          {{ tableStore.editedTable.table }}
        </h1>
        <v-card>
          <div style="text-align: center">
            <v-btn width="300" @click="openMenu(tableStore.editedTable)">
              <div>เปิดเมนู</div>
            </v-btn>
          </div>

          <div>
            <h2>
              {{ tableStore.url + tableStore.editedTable.id }}
            </h2>
          </div>
        </v-card>
        <div style="text-align: center">
          <v-card-item>
            <v-table>
              <tr>
                <td>
                  <v-btn variant="outlined" width="100" @click="clear">
                    ปิด
                  </v-btn>
                </td>
                <td>
                  <v-btn variant="outlined" width="100">รายละเอียด</v-btn>
                </td>
              </tr>
            </v-table>
          </v-card-item>
        </div>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
