<script lang="ts" setup>
import { useSalaryStore } from "@/stores/salary";
import { onMounted, ref, computed } from "vue";
import SalaryDialong from "./SalaryDialong.vue";

const SalaryStore = useSalaryStore();

onMounted(async () => {
  await SalaryStore.getSalary();
});

let search = ref("");

let filterItem = computed(function () {
  return SalaryStore.salary.filter((item) => {
    if (!search.value) return item;
    return item.name.toLowerCase().includes(search.value.toLowerCase());
  });
});
</script>
<template>
  <SalaryDialong></SalaryDialong>

  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          @click="SalaryStore.dialog = true"
          style="background-color: #6d6e6f; color: aliceblue"
          >เพิ่มข้อมูลเงินเดือนพนักงาน</v-btn
        >
      </v-col>
      <v-col></v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาพนักงาน"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12"
        ><v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัสพนักงาน</th>
              <th style="text-align: center">ชื่อพนักงาน</th>
              <th style="text-align: center">ตำแหน่ง</th>
              <th style="text-align: center">วันที่</th>
              <th style="text-align: center">เวลาเข้างาน</th>
              <th style="text-align: center">เวลาออกงาน</th>
              <th style="text-align: center">จำนวนเวลาทำงาน</th>
              <th style="text-align: center">เงินเดือน</th>
              <th style="text-align: center">สถานะ</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of filterItem" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">{{ item.name }}</td>
              <td style="text-align: center">{{ item.position }}</td>
              <td style="text-align: center">{{ item.work_date }}</td>
              <td style="text-align: center">{{ item.work_in }}</td>
              <td style="text-align: center">{{ item.work_out }}</td>
              <td style="text-align: center">{{ item.work_hour }}</td>
              <td style="text-align: center">{{ item.salary }}</td>
              <td>
                <v-btn class="mr-2 btnPay">รอดำเนินการ</v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.btnPay {
  background-color: #8a8787;
  color: aliceblue;
}
.btnActive {
  background-color: grey;
}
</style>
