<script setup lang="ts">
import { mdiRoomService, mdiCash, mdiFoodTurkey } from "@mdi/js";
import { onMounted } from "vue";
import { useOrderStore } from "@/stores/order";
import { ref } from "vue";
import { useTableStore } from "@/stores/table";
import { computed } from "vue";
import CashDialog from "./CashDialog.vue";
const tableStore = useTableStore();
const orderStores = useOrderStore();

onMounted(async () => {
  await orderStores.getOrders();
});
onMounted(async () => {
  await tableStore.getTables();
});
let clickBill = ref(false);
let cashPay = ref(false);
let qrPay = ref(false);
console.log(clickBill);
let totalprice = ref();
let billtable = ref();
const showbill = function (id: any) {
  clickBill.value = true;
  for (let i = 0; i <= orderStores.orders.length; i++) {
    if (id === orderStores.orders[i]) {
      totalprice.value = orderStores.orders[i].total;
      billtable.value = orderStores.orders[i].table;
    }
  }
};

const paywithcash = function () {
  orderStores.dialog = true;
};
const paywithqr = function () {
  orderStores.dialog = true;
};
</script>

<template>
  <CashDialog></CashDialog>
  <VContainer>
    <VRow>
      <VCol>
        <VContainer style="overflow-y: auto; height: 640px">
          <VRow>
            <VCol
              cols="4"
              v-for="(item, index) of orderStores.orders"
              :key="index"
            >
              <VCard elevation="3">
                <VCardTitle
                  class="text-h8 text-center font-weight-bold"
                  style="background-color: #d93d44; color: aliceblue"
                  >โต๊ะที่ {{ item.table?.id }}
                </VCardTitle>
                <div>
                  <VCardSubtitle class="ma-2">
                    <VListItem
                      prepend-icon="mdi-room-service"
                      title=" ทานที่ร้าน"
                    ></VListItem>
                  </VCardSubtitle>
                  <VCardSubtitle class="ma-2">
                    <VListItem prepend-icon="mdi-cash"
                      >{{ item.total }} บาท</VListItem
                    >
                  </VCardSubtitle>
                </div>
                <VDivider class="mx-4"></VDivider>
                <VCardActions class="justify-center">
                  <!-- <v-btn class="ma-1 btnCash"> ชำระเงิน </v-btn> -->
                  <VBtn class="btnBill" @click="showbill(item)"> ดูบิล </VBtn>
                </VCardActions>
              </VCard>
            </VCol>
          </VRow>
        </VContainer></VCol
      >
      <VCol cols="4">
        <VContainer>
          <VCol style="background-color: #d93d44; height: 600px">
            <div>
              <VCard elevation="3">
                <VCardTitle
                  class="text-h8 text-center font-weight-bold"
                  style="background-color: #d93d44; color: aliceblue"
                  >โต๊ะที่
                </VCardTitle>
                <div>
                  <VCardSubtitle class="ma-2">
                    <VListItem
                      prepend-icon="mdi-room-service"
                      title=" ทานที่ร้าน"
                    ></VListItem>
                    <VListItem
                      prepend-icon="mdi-food-turkey"
                      title=" รายการอาหาร"
                    ></VListItem>
                  </VCardSubtitle>
                  <VCardSubtitle class="ma-2">
                    <VListItem prepend-icon="mdi-cash"
                      >รวมทังสิ้น {{ totalprice }} บาท</VListItem
                    >
                  </VCardSubtitle>
                </div>
                <VDivider class="mx-4"></VDivider>
                <VCardActions class="justify-center">
                  <VBtn
                    class="ma-1 btnCash"
                    v-bind:disabled="!clickBill"
                    @click="paywithcash()"
                  >
                    ชำระด้วยเงินสด
                  </VBtn>
                  <VBtn
                    class="ma-1 btnCash"
                    v-bind:disabled="!clickBill"
                    @click="paywithqr()"
                  >
                    ชำระด้วย QR Code
                  </VBtn>
                </VCardActions>
              </VCard>
            </div>
          </VCol>
        </VContainer>
      </VCol>
    </VRow>
  </VContainer>
</template>

<style scoped>
.btnBill {
  background-color: #36f4d2;
  color: black;
}
.btnCash {
  background-color: #ffc107;
  color: black;
}
</style>
