<template>
  <v-app-bar color="#D93D44" style="color: aliceblue">
    <v-container style="text-align: center" class="text-h4">
      จัดการวัตถุดิบ
    </v-container>
  </v-app-bar>
</template>
<style scoped>
.v-container {
  max-width: 60% !important;
}
</style>
