<script lang="ts" setup>
import { useEmpStore } from "@/stores/emp";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const EmpStore = useEmpStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await EmpStore.saveEmp();
  }
}
</script>
<template>
  <v-dialog v-model="EmpStore.dialog" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >พนักงาน
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อพนักงาน*"
                  required
                  v-model="EmpStore.editedEmp.name"
                  :rules="[
                    (v) => !!v || 'กรุณาใส่ชื่อพนักงาน',
                    (v) => v.length > 5 || 'ชื่อพนักงานต้องมากกว่า 5 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="เพศ*"
                  required
                  v-model="EmpStore.editedEmp.gender"
                  :rules="[(v) => !!v || 'กรุณาใส่เพศ']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ตำแหน่ง*"
                  required
                  v-model="EmpStore.editedEmp.position"
                  :rules="[
                    (v) => !!v || 'กรุณาใส่ตำแหน่งพนักงาน',
                    (v) =>
                      v.length > 2 || 'ตำแหน่งพนักงานต้องมากกว่า 2 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="เบอร์โทรพนักงาน*"
                  required
                  v-model="EmpStore.editedEmp.tel"
                  :rules="[
                    (v) => !!v || 'กรุณาใส่เบอร์โทรพนักงาน',
                    (v) =>
                      v.length < 11 ||
                      'เบอร์โทรพนักงานต้องน้อยกว่า 11 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
          variant="text"
          @click="EmpStore.dialog = false"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
          variant="text"
          @click="save"
          >บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
