<script setup lang="ts">
import BottomNav from "@/components/BottomNav.vue";
import food from "@/services/food";
import { useOrderStore } from "@/stores/order";
import type Food from "@/types/Food";
import { ref } from "vue";

const orderStore = useOrderStore();

const deleteOrder = (index: number): void => {
  orderStore.deleteMyOrder(index);
};
</script>
<template>
  <v-table class="con-l mt-n4">
    <thead>
      <tr class="text-body-2">
        <th class="text-left text-white">ลำดับ</th>
        <th class="text-left text-white">รายการ</th>
        <th class="text-left text-white">จำนวน</th>
        <th class="text-left text-white">ราคา</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in orderStore.myOrder" :key="index">
        <td>{{ index + 1 }}</td>
        <td>{{ item.food.name }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.total }}</td>
      </tr>
    </tbody>
  </v-table>
  <v-divider style="border-style: dashed" class="mt-2"></v-divider>
  <v-container>
    <v-row>
      <v-col cols="7">
        <h4>ยอดรวมทั้งหมด :</h4>
      </v-col>
      <v-col cols="5">
        <h4>{{ orderStore.sum }}</h4>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col cols="12" class="bt-c">
        <router-link to="/StatusMenu"
          ><v-btn width="100%" @click="orderStore.openOrder()"
            >ยืนยันสั่งอาหาร</v-btn
          ></router-link
        >
        <!-- <router-link to="/StatusMenu"
          ><v-btn width="100%">Confirm</v-btn></router-link
        > -->
      </v-col>
    </v-row>
  </v-container>
  <BottomNav></BottomNav>
</template>
<style scoped>
.con-l {
  height: 55vh;
  overflow-y: auto;
}
thead,
th {
  background-color: #6d6e6f;
}

td {
  font-size: 12px;
}
</style>
