<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import BottomNav from "@/components/BottomNav.vue";
import { useQueFoodStore } from "@/stores/quefoods";

const orderStore = useOrderStore();
const queFoodStore = useQueFoodStore();
</script>
<template>
  <v-table class="con-l mt-n4">
    <thead>
      <tr class="text-body-2">
        <th class="text-left text-white">ลำดับ</th>
        <th class="text-left text-white">รายการ</th>
        <th class="text-left text-white">สถานะ</th>
        <th class="text-left text-white">เลข</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in queFoodStore.questatus" :key="index">
        <td>{{ index + 1 }}</td>
        <td>{{ item.food }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.id }}</td>
      </tr>
    </tbody>
  </v-table>
  <v-divider style="border-style: dashed" class="mt-2"></v-divider>
  <v-container>
    <v-row>
      <v-col cols="7">
        <h4>ยอดรวมทั้งหมด :</h4>
      </v-col>
      <v-col cols="5">
        <h4>{{ orderStore.sum }}</h4>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col cols="12" class="bt-c">
        <router-link to="/menu"
          ><v-btn width="100%">กลับหน้าเมนู</v-btn></router-link
        >
      </v-col>
    </v-row>
  </v-container>
  <BottomNav></BottomNav>
</template>
<style scoped>
.con-l {
  height: 55vh;
  overflow-y: auto;
}
thead,
th {
  background-color: #6d6e6f;
}

td {
  font-size: 12px;
}
</style>
