<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const userString = localStorage.getItem("user");
const user = userString ? JSON.parse(userString) : null;
</script>
<template>
  <v-navigation-drawer expand-on-hover rail>
    <v-list-item
      prepend-avatar="https://img.freepik.com/free-icon/avatar_318-158392.jpg"
    >
      <v-list-item-content>
        <v-list-item-title>{{ user.name }}</v-list-item-title>
        <v-list-item-subtitle>ตำเเหน่ง: {{ user.role }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-table-chair"
        title="จัดการโต๊ะ"
        value="table"
        to="/table"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-basket"
        title="สั่งอาหาร"
        value="menu"
        to="/menu"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-chef-hat"
        title="ทำอาหาร"
        value="cook"
        to="/cook"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-food-turkey"
        title="เสิร์ฟ"
        value="serve"
        to="/serve"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-cash-register"
        title="ชำระเงิน"
        value="Cash"
        to="/cash"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-broom"
        title="ทำความสะอาดโต๊ะ"
        value="clean"
        to="/clean"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-file-document-edit"
        title="จัดการวัตถุดิบ"
        to="/material"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-group"
        title="จัดการพนักงาน"
        to="/employees"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-cash-multiple"
        title="จัดการเงินเดือนพนักงาน"
        to="/salary"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-table-chair"
        title="จัดการโต๊ะ"
        value="matable"
        to="/matable"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-pasta"
        title="จัดการอาหาร"
        value="mafood"
        to="/food"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account"
        title="จัดการผู้ใช้งาน"
        value="users"
        to="/users"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-logout-variant"
        title="ออกจากระบบ"
        value="logout"
        to="/login"
        @click="authStore.logout"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
