<script setup lang="ts">
import { useOrderStore } from "@/stores/order";

const orderStore = useOrderStore();
</script>

<template>
  <v-bottom-navigation grow>
    <v-btn value="menu" to="/menu">
      <v-icon icon="mdi-food"></v-icon>
      เมนู
    </v-btn>

    <v-btn value="list" class="text-none" stacked to="/ConfirmMenu">
      <v-badge
        :content="orderStore.myOrder.length"
        color="error"
        v-if="orderStore.myOrder.length !== 0"
      >
        <v-icon icon="mdi-cart-outline"></v-icon>
      </v-badge>
      <v-icon icon="mdi-cart-outline" v-else></v-icon>
      รายการอาหาร
    </v-btn>

    <v-btn value="status" class="none" stacked to="/StatusMenu">
      <v-icon icon="mdi-store-clock-outline"></v-icon>
      สถานะอาหาร
    </v-btn>
  </v-bottom-navigation>
</template>

<style></style>
