<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { useCookStore } from "@/stores/quefood";
import type Quefoos from "@/types/Quefood";
import { onMounted } from "vue";
import CookDialogCancle from "./CookDialogCancle.vue";
import CookDialogCancleCook from "./CookDialogCancleCook.vue";
import { useQueFoodStore } from "@/stores/quefoods";
const orderStore = useOrderStore();
const queFoodStore = useQueFoodStore();

// onMounted(async () => {
//   await orderStore.queWait("รอเตรียม",Food)
// });
</script>

<template>
  <v-container>
    <CookDialogCancle></CookDialogCancle>
    <CookDialogCancleCook></CookDialogCancleCook>
    <v-row>
      <v-col style="background-color: #ffff" class="ma-3">
        <div style="background-color: #d93d44">
          <h2 style="text-align: center; color: aliceblue">รอเตรียม</h2>
        </div>
        <v-container>
          <v-row>
            <v-col class="col">
              <v-card
                class="pa-1 ma-2"
                elevation="3"
                outlined
                tile
                v-for="(item, index) of queFoodStore.quewait"
                :key="index"
              >
                <v-card-title
                  >{{ index + 1 + ". "
                  }}{{ item.food + " " + item.id }}</v-card-title
                >
                <v-card-subtitle
                  >{{ item.tableid + " "
                  }}{{ "สถานะ: " + item.status }}</v-card-subtitle
                ><v-card-actions class="justify-center">
                  <v-btn
                    class="ma-2 btnCook"
                    @click="queFoodStore.cookingQue(index, item.food, item.id)"
                    >ทำอาหาร</v-btn
                  >
                  <v-btn
                    class="ma-2 btnCancel"
                    @click="
                      queFoodStore.DialogCancleQueWait(
                        item.food,
                        item.tableid,
                        item.id,
                        index
                      )
                    "
                    >ยกเลิก</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col style="background-color: #ffff" class="ma-3">
        <div style="background-color: #fb9300">
          <h2 style="text-align: center; color: aliceblue">กำลังทำอาหาร</h2>
        </div>
        <v-container>
          <v-row>
            <v-col class="col">
              <v-card
                elevation="3"
                class="pa-1 ma-2"
                outlined
                tile
                v-for="(item, index) of queFoodStore.quecook"
                :key="index"
              >
                <v-card-title
                  >{{ index + 1 + ". " }}{{ item.food + " " + item.id }}
                </v-card-title>
                <v-card-subtitle
                  >{{ item.tableid + " "
                  }}{{ "สถานะ: " + item.status }} </v-card-subtitle
                ><v-card-actions class="justify-center">
                  <v-btn
                    class="ma-2 btnFinish"
                    @click="queFoodStore.finishQue(index, item.food, item.id)"
                    >เสร็จสิ้น</v-btn
                  >
                  <v-btn
                    class="ma-2 btnCancel"
                    @click="
                      queFoodStore.DialogCancleQueCook(
                        item.food,
                        item.tableid,
                        item.id,
                        index
                      )
                    "
                    >ยกเลิก</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col style="background-color: #ffff" class="ma-3">
        <div style="background-color: #4caf50">
          <h2 style="text-align: center; color: aliceblue">เสร็จสิ้น</h2>
        </div>
        <v-container>
          <v-row>
            <v-col class="colfinish">
              <v-card
                elevation="3"
                class="pa-5 ma-5"
                outlined
                tile
                v-for="(item, index) of queFoodStore.quefinish"
                :key="index"
              >
                <v-card-title
                  >{{ index + 1 + ". "
                  }}{{ item.food + " " + item.id }}</v-card-title
                >
                <v-card-subtitle
                  >{{ item.tableid + " " }}{{ "สถานะ: " + item.status }}
                </v-card-subtitle>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
        <v-btn
          class="ma-2"
          style="color: aliceblue; background-color: #d93d44"
          @click="queFoodStore.ClearListFinish"
          >ลบรายการเสร็จสิ้นทั้งหมด</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btnCook {
  background-color: #ffc107;
}
.btnCancel {
  background-color: #f44336;
  color: aliceblue;
}

.btnFinish {
  background-color: #388e3c;
  color: aliceblue;
}
.col {
  height: 650px;
  overflow-y: auto;
}
.colfinish {
  height: 600px;
  overflow-y: auto;
}
</style>
