<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const tableStore = useTableStore();

const clear = () => {
  tableStore.dialogCRUD = false;
};

const form = ref<VForm | null>(null);

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    await tableStore.saveTable();
  }
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialogCRUD" persistent width="1024">
      <v-card>
        <v-container style="background-color: #d93d44"
          ><v-row>
            <v-col style="font-size: 50px; text-align: center; color: aliceblue"
              >โต๊ะ
            </v-col></v-row
          ></v-container
        >
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="เลขโต๊ะ 'โต๊ะ 1'"
                    required
                    v-model="tableStore.editedTable.table"
                    :rules="[
                      (v) => !!v || 'โปรดระบุเลขโต๊ะ',
                      (v) => v.length >= 5 || 'ความยาวไม่น้อยกว่า 5',
                    ]"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    :items="[2, 4, 6, 8]"
                    label="จำนวนที่นั่ง"
                    required
                    v-model="tableStore.editedTable.seat"
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-select
                    :items="['ว่าง', 'ไม่ว่าง', 'ทำควมสะอาด']"
                    label="สถานะ"
                    required
                    v-model="tableStore.editedTable.status"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            style="font-size: 20px; background-color: #d93d44; color: aliceblue"
            variant="text"
            @click="clear"
          >
            ยกเลิก
          </v-btn>
          <v-btn
            style="font-size: 20px; background-color: #388e3c; color: aliceblue"
            variant="text"
            @click="save"
          >
            บันทึก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
