<script setup lang="ts">
import { onMounted, computed, ref } from "vue";
import { useMaterialStore } from "@/stores/material";
import MaterialDialog from "./MaterialDialog.vue";
import BottomNavStock from "@/components/BottomNavStock.vue";
const materialStore = useMaterialStore();

onMounted(async () => {
  await materialStore.getMaterial();
});

let search = ref("");

let filterItem = computed(function () {
  return materialStore.material.filter((item) => {
    if (!search.value) return item;
    return item.name.toLowerCase().includes(search.value.toLowerCase());
  });
});
</script>
<template>
  <MaterialDialog></MaterialDialog>

  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          @click="materialStore.dialog = true"
          style="background-color: #6d6e6f; color: aliceblue"
          >เพิ่มข้อมูลวัตถุดิบ</v-btn
        >
      </v-col>
      <v-col></v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาวัตถุดิบ"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัสวัตถุดิบ</th>
              <th style="text-align: center">ชื่อวัตถุดิบ</th>
              <th style="text-align: center">จำนวนขั้นต่ำ</th>
              <th style="text-align: center">วัตถุดิบคงเหลือ</th>
              <th style="text-align: center">หน่วย</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of filterItem" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">{{ item.name }}</td>
              <td style="text-align: center">{{ item.minAmount }}</td>
              <td style="text-align: center">{{ item.balance }}</td>
              <td style="text-align: center">{{ item.unit }}</td>

              <td>
                <v-btn
                  class="ma-5 btnEdit"
                  @click="materialStore.editMaterial(item)"
                  ><v-icon class="ma-2">mdi-pencil-box-multiple-outline</v-icon>
                  แก้ไข</v-btn
                ><v-btn
                  class="btnDel"
                  @click="materialStore.deleteMaterail(item.id!)"
                  ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>
                  ลบ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  <BottomNavStock></BottomNavStock>
</template>
<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
