<script setup lang="ts">
import { useMaterialStore } from "@/stores/material";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const materialStore = useMaterialStore();
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await materialStore.saveMaterail();
  }
}
</script>
<template>
  <v-dialog v-model="materialStore.dialog" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >วัตถุดิบ
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อวัตถุดิบ*"
                  required
                  v-model="materialStore.editedMaterial.name"
                  :rules="[(v) => !!v || 'ใส่ชื่อวัตถุดิบ']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="จำนวนขั้นต่ำ*"
                  required
                  v-model.number="materialStore.editedMaterial.minAmount"
                  :rules="[
                    (v) => parseInt(v) >= 1 || 'ใส่จำนวนขั้นต่ำไม่น้อยกว่า 1',
                  ]"
                ></v-text-field>
                <v-text-field
                  label="หน่วย*"
                  required
                  v-model="materialStore.editedMaterial.unit"
                  :rules="[(v) => !!v || 'ใส่หน่วยของวัตถุดิบ']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="จำนวนคงเหลือ*"
                  required
                  v-model.number="materialStore.editedMaterial.balance"
                  :rules="[(v) => parseInt(v) >= 0 || 'ใส่จำนวนคงเหลือ']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small style="font-weight: bold">*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="text"
          @click="materialStore.dialog = false"
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          variant="text"
          @click="save()"
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
