<script setup lang="ts">
import { useMaterialStore } from "@/stores/material";
import { useReceiptItemsStore } from "@/stores/receiptItems";
import { useStockItemsStore } from "@/stores/stockItems";
import { onMounted, ref } from "vue";
import ReceiptItemDialogSave from "./ReceiptDialogSave.vue";
const StockItemsStore = useStockItemsStore();
const materialStore = useMaterialStore();
const recriptItemStore = useReceiptItemsStore();
const showFocus = ref(false);
// const form = ref<VForm | null>(null);
// async function save() {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     await recriptItemStore.saveReceiptItem();
//   }
// }

onMounted(async () => {
  await materialStore.getMaterial();
});
</script>
<template>
  <v-dialog v-model="recriptItemStore.dialogRecipt" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >บันทึกรายการวัตถุดิบเข้าร้าน
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="3">
                <v-select
                  label="ชื่อพนักงาน*"
                  :items="['ธิดารัตน์', 'องอาจ', 'สพลดัย']"
                  required
                  v-model="recriptItemStore.editSaveReceipt.nameEmp"
                  :rules="[(v) => !!v || 'โปรดระบุชื่อพนักงาน']"
                ></v-select>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  label="ราคารวม*"
                  required
                  v-model.number="recriptItemStore.editSaveReceipt.total"
                  :rules="[(v) => parseInt(v) >= 0 || 'โปรดระบุราคารวม']"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  label="เงินที่จ่าย*"
                  required
                  v-model.number="recriptItemStore.editSaveReceipt.receive"
                  :rules="[(v) => parseInt(v) >= 0 || 'โปรดระบุเงินที่จ่าย']"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  label="เงินทอน*"
                  required
                  v-model="recriptItemStore.editSaveReceipt.change"
                  :rules="[(v) => parseInt(v) >= 0 || 'โปรดระบุเงินทอน']"
                ></v-text-field>
              </v-col>
              <v-col cols="12" style="background-color: #d93d44">
                <v-table fixed-header height="360px">
                  <thead>
                    <tr>
                      <th style="text-align: center">ชื่อวัตถุดิบ</th>
                      <th style="text-align: center">จำนวนที่ซื้อ</th>
                      <th style="text-align: center">ราคา/หน่วย</th>
                      <th style="text-align: center">ราคารวม</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item of recriptItemStore.receiptItemslistPush"
                      :key="item.id"
                    >
                      <td style="text-align: center">{{ item.name }}</td>
                      <td style="text-align: center">{{ item.amount }}</td>
                      <td style="text-align: center">{{ item.price }}</td>
                      <td style="text-align: center">{{ item.total }}</td>
                      <td>
                        <!-- <v-btn
                          class="ma-5 btnEdit"
                          @click="recriptItemStore.editReceiptItemsList(item)"
                          ><v-icon class="ma-2"
                            >mdi-pencil-box-multiple-outline</v-icon
                          >
                          แก้ไข</v-btn
                        > --><v-btn
                          class="btnDel"
                          @click="recriptItemStore.edit(item.id!)"
                          ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>
                          ลบ</v-btn
                        >
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
          </v-container>
          <v-btn
            block
            class="mt-2"
            style="background-color: #6d6e6f"
            @click="recriptItemStore.Push"
            ><v-icon
              icon="mdi-plus"
              style="font-size: 30px; color: aliceblue"
            ></v-icon
          ></v-btn>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="text"
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
          @click="recriptItemStore.CancleReceipt"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          variant="text"
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
          @click="recriptItemStore.Save"
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
