<script setup lang="ts">
import { useMaterialStore } from "@/stores/material";
import { useReceiptItemsStore } from "@/stores/receiptItems";
import { useStockItemsStore } from "@/stores/stockItems";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
// const StockItemsStore = useStockItemsStore();
const recriptItemStore = useReceiptItemsStore();
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await recriptItemStore.saveReceiptItem();
  }
}
</script>
<template>
  <v-dialog v-model="recriptItemStore.dialogReciptItem" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >วัตถุดิบเข้าร้าน
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  label="ชื่อวัตถุดิบ*"
                  required
                  v-model="recriptItemStore.editReceiptItem.name"
                  :rules="[(v) => !!v || 'ใส่ชื่อวัตถุดิบ']"
                ></v-text-field>
              </v-col>

              <v-col cols="6">
                <v-text-field
                  label="จำนวนที่ซื้อ*"
                  required
                  v-model.number="recriptItemStore.editReceiptItem.amount"
                  :rules="[
                    (v) => parseInt(v) >= 0 || 'ใส่จำนวนที่ซื้อไม่น้อยกว่า 0',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="6"
                ><v-text-field
                  label="ราคาต่อหน่วย*"
                  required
                  v-model.number="recriptItemStore.editReceiptItem.price"
                  :rules="[(v) => !!v || 'ใส่ราคาต่อหน่วย']"
                ></v-text-field>
              </v-col>
              <v-col cols="6"
                ><v-text-field
                  label="ราคารวม*"
                  required
                  v-model.number="recriptItemStore.editReceiptItem.total"
                  :rules="[(v) => !!v || 'ใส่ราคารวม']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small style="font-weight: bold">*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="text"
          @click="recriptItemStore.dialogReciptItem = false"
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          variant="text"
          @click="save()"
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
