<script setup lang="ts">
import { useReceiptStore } from "@/stores/receipt";
import { useReceiptItemsStore } from "@/stores/receiptItems";
import { onMounted } from "vue";
import ReceiptDialogSave from "./ReceiptDialogSave.vue";
import BottomNavStock from "@/components/BottomNavStock.vue";
const recriptItemStore = useReceiptItemsStore();
const receiptStore = useReceiptStore();
onMounted(async () => {
  await receiptStore.getRecript();
});
</script>

<template>
  <ReceiptDialogSave></ReceiptDialogSave>
  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          style="background-color: #6d6e6f; color: aliceblue"
          @click="recriptItemStore.dialogRecipt = true"
          >บันทึกรายการวัตถุดิบเข้าร้าน</v-btn
        ><v-btn
          color="#6d6e6f"
          width="40px"
          height="40px"
          class="ma-1"
          density="compact"
          icon="mdi-text-box-edit-outline"
          style="font-size: 20px; color: aliceblue"
          to="/receipt"
        ></v-btn>
      </v-col>
      <!-- <v-col></v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาวัตถุดิบ"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col> -->
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัส</th>
              <th style="text-align: center">วันที่ / เวลาที่ซื้อ</th>
              <th style="text-align: center">พนักงาน</th>
              <th style="text-align: center">ราคารวม</th>
              <th style="text-align: center">เงินจ่าย</th>
              <th style="text-align: center">เงินทอน</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of receiptStore.receipt" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">
                {{ item.createdDate?.toString().substring(0, 10) }} /
                {{
                  item.createdDate
                    ?.toString()
                    .substring(11, item.createdDate.toString().length - 5)
                }}
              </td>
              <td style="text-align: center">{{ item.nameEmp }}</td>
              <td style="text-align: center">{{ item.total }}</td>
              <td style="text-align: center">{{ item.receive }}</td>
              <td style="text-align: center">{{ item.change }}</td>
              <td>
                <v-btn
                  class="ma-5 btnEdit"
                  @click="receiptStore.editReceipt(item)"
                  ><v-icon class="ma-2">mdi-pencil-box-multiple-outline</v-icon>
                  แก้ไข</v-btn
                ><v-btn
                  class="btnDel"
                  @click="receiptStore.deleteReceipt(item.id!)"
                  ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>
                  ลบ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  <BottomNavStock></BottomNavStock>
</template>

<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
