<script setup lang="ts">
import { onMounted } from "vue";
import { useMaterialStore } from "@/stores/material";
import BottomNavStock from "@/components/BottomNavStock.vue";
import { ref } from "vue";
import { useReceiptItemsStore } from "@/stores/receiptItems";
import ReceiptItemDialogVue from "./ReceiptItemDialog.vue";
import ReceiptDialogSave from "./ReceiptDialogSave.vue";
import ReceiptItemDialogSave from "./ReceiptItemDialogSave.vue";
const recriptItemStore = useReceiptItemsStore();
onMounted(async () => {
  await recriptItemStore.getRecriptItems();
});
</script>
<template>
  <ReceiptDialogSave></ReceiptDialogSave>
  <!-- บันทึก บันทึกรายการเข้าร้าน -->
  <ReceiptItemDialogVue></ReceiptItemDialogVue>
  <!-- เเก้ไขวัตถุดิบเข้าร้าน -->
  <ReceiptItemDialogSave></ReceiptItemDialogSave>
  <!--  -->
  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          style="background-color: #6d6e6f; color: aliceblue"
          @click="recriptItemStore.dialogRecipt = true"
          >บันทึกรายการวัตถุดิบเข้าร้าน</v-btn
        ><v-btn
          color="#6d6e6f"
          width="40px"
          height="40px"
          class="ma-1"
          density="compact"
          icon="mdi-text-box-edit-outline"
          style="font-size: 20px; color: aliceblue"
          to="/receipt2"
        ></v-btn>
      </v-col>
      <!-- <v-col></v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาวัตถุดิบ"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col> -->
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัสวัตถุดิบเข้า</th>
              <th style="text-align: center">วันที่ / เวลาที่ซื้อ</th>
              <th style="text-align: center">ชื่อวัตถุดิบ</th>
              <th style="text-align: center">จำนวนที่ชื่อ</th>
              <th style="text-align: center">ราคาต่อหน่วย</th>
              <th style="text-align: center">ราคารวม</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of recriptItemStore.receiptItems" :key="item.id">
              <td style="text-align: center">{{ item.id }}</td>
              <td style="text-align: center">
                {{ item.createdDate?.toString().substring(0, 10) }} /
                {{
                  item.createdDate
                    ?.toString()
                    .substring(11, item.createdDate.toString().length - 5)
                }}
              </td>
              <td style="text-align: center">{{ item.name }}</td>
              <td style="text-align: center">{{ item.amount }}</td>
              <td style="text-align: center">{{ item.price }}</td>
              <td style="text-align: center">{{ item.total }}</td>
              <td>
                <v-btn
                  class="ma-5 btnEdit"
                  @click="recriptItemStore.editReceiptItems(item)"
                  ><v-icon class="ma-2">mdi-pencil-box-multiple-outline</v-icon>
                  แก้ไข</v-btn
                ><v-btn
                  class="btnDel"
                  @click="recriptItemStore.deleteReceiptItem(item.id!)"
                  ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>
                  ลบ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  <BottomNavStock></BottomNavStock>
</template>
<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
