<script setup lang="ts">
import { useMaterialStore } from "@/stores/material";
import { useStockItemsStore } from "@/stores/stockItems";
import { onMounted } from "vue";

const StockItemsStore = useStockItemsStore();
const materialStore = useMaterialStore();

onMounted(async () => {
  await materialStore.getMaterial();
});
</script>
<template>
  <v-dialog v-model="StockItemsStore.dialogStock" persistent width="1024">
    <v-card>
      <v-container style="background-color: #d93d44"
        ><v-row>
          <v-col style="font-size: 50px; text-align: center; color: aliceblue"
            >บันทึกรายการสต็อก
          </v-col></v-row
        ></v-container
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="4">
                <v-select
                  label="ชื่อพนักงาน*"
                  :items="['ธิดารัตน์', 'องอาจ', 'สพลดัย']"
                  required
                  v-model="StockItemsStore.editSaveStock.nameEmp"
                  :rules="[(v) => !!v || 'โปรดระบุชื่อพนักงาน']"
                ></v-select>
              </v-col>

              <v-col cols="12" style="background-color: #d93d44">
                <v-table fixed-header height="400px">
                  <thead>
                    <tr>
                      <th style="text-align: center">รหัสวัตถุดิบ</th>
                      <th style="text-align: center">ชื่อวัตถุดิบ</th>
                      <th style="text-align: center">จำนวนขั้นต่ำ</th>
                      <th style="text-align: center">จำนวนคงเหลือ</th>
                      <th style="text-align: center">หน่วย</th>
                      <th style="text-align: center">ราคา/หน่วย</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item of materialStore.material" :key="item.id">
                      <td style="text-align: center">{{ item.id }}</td>
                      <td style="text-align: center">{{ item.name }}</td>
                      <td style="text-align: center">{{ item.minAmount }}</td>
                      <td style="text-align: center" class="ma-5">
                        <v-container>
                          <v-row>
                            <v-col>
                              <v-text-field
                                required
                                v-model="
                                  StockItemsStore.editSaveStockItem.amount
                                "
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-container>
                      </td>
                      <td style="text-align: center">{{ item.unit }}</td>
                      <td style="text-align: center" class="ma-5">
                        <v-container>
                          <v-row>
                            <v-col>
                              <v-text-field
                                required
                                v-model="
                                  StockItemsStore.editSaveStockItem.price
                                "
                              ></v-text-field>
                            </v-col>
                          </v-row>
                        </v-container>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
          </v-container>
        </v-form>

        <small style="font-weight: bold">*ระบุช่องที่ต้องการกรอก</small>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          variant="text"
          style="font-size: 20px; background-color: #d93d44; color: aliceblue"
          @click="StockItemsStore.dialogStock = false"
        >
          ยกเลิก
        </v-btn>
        <v-btn
          variant="text"
          style="font-size: 20px; background-color: #388e3c; color: aliceblue"
          @click="StockItemsStore.Save"
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped></style>
