<script setup lang="ts">
import BottomNavStock from "@/components/BottomNavStock.vue";
import { useStockItemsStore } from "@/stores/stockItems";
import { onMounted } from "vue";
import StockDialogSave from "./StockDialogSave.vue";
import StockItemDialog from "./StockItemDialog.vue";
import { useMaterialStore } from "@/stores/material";
const StockItemsStore = useStockItemsStore();
const materialStore = useMaterialStore();
onMounted(async () => {
  await StockItemsStore.getStockItems();
});
</script>

<template>
  <StockDialogSave></StockDialogSave>
  <StockItemDialog></StockItemDialog>
  <v-container>
    <v-row>
      <v-col>
        <v-btn
          class="ma-1"
          style="background-color: #6d6e6f; color: aliceblue"
          @click="StockItemsStore.dialogStock = true"
          >บันทึกรายการเช็คสต็อก</v-btn
        ><v-btn
          color="#6d6e6f"
          width="40px"
          height="40px"
          class="ma-1"
          density="compact"
          icon="mdi-text-box-edit-outline"
          style="font-size: 20px; color: aliceblue"
          to="/stock2"
        ></v-btn>
      </v-col>

      <!-- <v-col> </v-col>
      <v-col>
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหาวัตถุดิบ"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col> -->
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table fixed-header height="560px">
          <thead>
            <tr>
              <th style="text-align: center">รหัส</th>
              <th style="text-align: center">วัน / เวลาที่เช็ค</th>
              <th style="text-align: center">ชื่อวัตถุดิบ</th>
              <th style="text-align: center">จำนวนคงเหลือ</th>
              <th style="text-align: center">ราคาต่อหน่วย</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of StockItemsStore.stockItems" :key="item.id">
              <td style="text-align: center">
                {{ item.id }}
              </td>
              <td style="text-align: center">
                {{ item.createdDate?.toString().substring(0, 10) }} /
                {{
                  item.createdDate
                    ?.toString()
                    .substring(11, item.createdDate.toString().length - 5)
                }}
              </td>
              <td style="text-align: center">{{ item.nameMaterial }}</td>
              <td style="text-align: center">{{ item.amount }}</td>
              <td style="text-align: center">{{ item.price }}</td>
              <td>
                <v-btn
                  class="ma-5 btnEdit"
                  @click="StockItemsStore.editStockItems(item)"
                  ><v-icon class="ma-2">mdi-pencil-box-multiple-outline</v-icon>
                  แก้ไข</v-btn
                ><v-btn
                  class="btnDel"
                  @click="StockItemsStore.deleteStockItem(item.id!)"
                  ><v-icon class="ma-2"> mdi-trash-can-outline</v-icon>
                  ลบ</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>

  <BottomNavStock></BottomNavStock>
</template>
<style scoped>
.btnEdit {
  background-color: #4caf50;
  color: aliceblue;
}
.btnDel {
  background-color: #d93d44;
  color: aliceblue;
}
</style>
